<a href="https://colab.research.google.com/github/manudeepsinha/Become-A-Full-Stack-Web-Developer/blob/master/Solution_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Some of the orders are stored in another csv file named `bigkart_newsales`. Read the csv file, store it in a data frame and add it to the `bigkart_sales` data frame. Find the total sales value of the category 'Office Supplies' after combining the dataframes

Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

Question 3: Find the most profitable category and sub category combination based on the net profit.

Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order order IDs in the data frame.

Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

In [36]:
import pandas as pd

In [47]:
#defining data frame for 2 csv files
df = pd.concat(map(pd.read_csv,['bigkart_sales.csv', 'bigkart_newsales.csv']), ignore_index = True)
#creating group-by for category and then selecting summation of Sales value
category_grp = df.groupby(['Category'])

category_grp.get_group('Office Supplies')['Sales'].sum()

7970

In [48]:
#dropping the duplicates from the data frame
unique_df = df.drop_duplicates()
#selecting summation of Sales value for category office supplies after removing duplicates
unique_df.loc[unique_df['Category'] == 'Office Supplies']['Sales'].sum()

6964

In [49]:
#most profitable category and sub-category combination
#adding a net_profit column which is (Quantity * Sales) / Profit to calculate profit on 1 unit sold
df['Net_Profit'] = (df['Quantity'] * df['Sales'] ) / df['Profit']
print('Following are the category and sub-category combination when **Quantity, Sales and Profit** were referred and each sale Profit is calculated as Net_Profit: ')
print(df.sort_values(by='Net_Profit', ascending = 0).head(1)[['Category','Sub-Category']])
print('------------------------------------------')
print('Following are the category and sub-category combination when only **Profit** was referred: ')
print(df.sort_values(by='Profit', ascending = 0).head(1)[['Category','Sub-Category']])

Following are the category and sub-category combination when **Quantity, Sales and Profit** were referred and each sale Profit is calculated as Net_Profit:
      Category Sub-Category
41  Technology      Copiers
------------------------------------------
Following are the category and sub-category combination when only **Profit** was referred:
      Category Sub-Category
30  Technology       Phones

In [50]:
#checks whether Order ID is valid or not by checking length of Order ID
invalid_order_id = unique_df['Order ID'].apply(lambda x: True if len(x[8:]) == 7 else False).sum()
print(f'There are a total of {invalid_order_id} invalid Order IDs.')

There are a total of 54 invalid Order IDs.

In [51]:
#top 25 orders based on sales value
top_25_sales = unique_df.sort_values(by='Sales', ascending = 0).head(25)
print(top_25_sales)
print('------------------------------')
top_25_furn_cat = (top_25_sales['Category'] == 'Furniture').sum()
#number of orders which belong to furniture category
print(f'Number of top-25 orders which belong to furniture category are: {top_25_furn_cat}')

           Order ID                         Product Name  Discount  Sales  \
30  AZ-2011-1410648         Nokia Smart Phone, Full Size       0.0   1908
58   AZ-2011-176674                Hoover Microwave, Red       0.1   1667
8   AZ-2011-1174243     Nokia Audio Dock, with Caller ID       0.0   1334
20  AZ-2011-1322840     Motorola Headset, with Caller ID       0.0    957
3   AZ-2011-1372644           Panasonic Printer, Durable       0.0    800
18  AZ-2011-1406494         Fellowes Lockers, Industrial       0.1    748
39  AZ-2011-1536006      Logitech Keyboard, Programmable       0.0    666
33  AZ-2011-1445262          Apple Smart Phone, Cordless       0.0    636
31   AZ-2011-144325        Bush Stackable Bookrack, Pine       0.0    630
14  AZ-2011-1260928        Eldon File Cart, Single Width       0.1    576
12  AZ-2011-1253407       Safco Stackable Bookrack, Pine       0.1    541
48  AZ-2011-1672552      Binney & Smith Sketch Pad, Blue       0.0    510
41  AZ-2011-1584049                   Brother Ink, Laser       0.0    442
52  AZ-2011-1722024               Cisco Audio Dock, VoIP       0.0    364
59  AZ-2011-1902971  Wilson Jones Binding Machine, Clear       0.0    339
17   AZ-2011-130330     Office Star Chairmat, Adjustable       0.1    307
2   AZ-2011-1087704        Belkin Flash Drive, Bluetooth       0.0    294
60  AZ-2011-1916360        Dania 3-Shelf Cabinet, Mobile       0.0    288
11  AZ-2011-1240916           Boston Canvas, Water Color       0.0    284
34   AZ-2011-145488         Rogers File Cart, Industrial       0.4    255
6   AZ-2011-1116129       Avery Binding Machine, Durable       0.0    252
42  AZ-2011-1584987          Tenex File Cart, Industrial       0.1    241
38  AZ-2011-1499597          Boston Markers, Fluorescent       0.0    193
46  AZ-2011-1655349           Fiskars Trimmer, Easy Grip       0.0    176
43  AZ-2011-1589827     Novimex Steel Folding Chair, Red       0.6    164

    Profit  Quantity         Category Sub-Category
30     820         3       Technology       Phones
58     185         6  Office Supplies   Appliances
8      200         8       Technology       Phones
20     316        12       Technology       Phones
3      168         3       Technology     Machines
18     283         4  Office Supplies      Storage
39      66         9       Technology  Accessories
33     140         1       Technology       Phones
31     132         5        Furniture    Bookcases
14      51         5  Office Supplies      Storage
12     156         4        Furniture    Bookcases
48     132        11  Office Supplies          Art
41       0         3       Technology      Copiers
52     142         2       Technology       Phones
59     102         7  Office Supplies      Binders
17      99         5        Furniture       Chairs
2      109         7       Technology  Accessories
60      20         2        Furniture    Bookcases
11      43         5  Office Supplies          Art
34     -98         3  Office Supplies      Storage
6       15         5  Office Supplies      Binders
42      24         2  Office Supplies      Storage
38      29         7  Office Supplies          Art
46      65         4  Office Supplies     Supplies
43     -70         5        Furniture       Chairs
------------------------------
Number of top-25 orders which belong to furniture category are: 5

In [52]:
#product name of the fourth highest order based on sales value having sales > 250 and profit > 250.
fourth_highest_order = 4
top_prod_name = unique_df.loc[(unique_df['Sales']  > 250) & (unique_df['Profit']  > 250)].sort_values(by='Sales', ascending = 0).head(4)['Product Name']
if (len(top_prod_name) != 0):
  while len(top_prod_name) != fourth_highest_order:
    fourth_highest_order -= 1
  print(top_prod_name.iloc[fourth_highest_order-1])
else:
  print('There are no products that have Sales > 250 and Profit > 250')

Fellowes Lockers, Industrial

In [73]:
#product that makes the lowest profit per Quantity in the Technology category
#dropping all the orders with profit in negative
unique_and_positive_profit_df = unique_df.drop(unique_df[unique_df['Profit'] < 0].index)
#new column for profit per quantity
unique_and_positive_profit_df['Profit_per_quantity'] = unique_and_positive_profit_df['Quantity']  / unique_and_positive_profit_df['Profit']
#adding the condition of category = Technology
unique_and_positive_profit_df = unique_and_positive_profit_df.loc[unique_and_positive_profit_df['Category'] == 'Technology']
print('Lowest profit per quantity in the Technology category: ')
unique_and_positive_profit_df.sort_values(by=['Profit_per_quantity']).head(1)

Lowest profit per quantity in the Technology category:

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_quantity
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,0.003659